body {
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
  font-family: sans-serif;

  --red: rgb(255, 181, 181);
  --yellow: rgb(255, 224, 161);
  --blue: rgb(199, 199, 255);
  --green: rgb(147, 255, 147);

  --padding: 0.4rem;
}

.buffer-0 {
  background: var(--red);
}

.buffer-1 {
  background: var(--yellow);
}

.buffer-2 {
  background: var(--blue);
}

.buffer-3 {
  background: var(--green);
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  line-height: 1.4rem;
  padding: 0 1px 0 0;
  text-decoration: none;
}

.icon-button.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.footer {
  padding: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  cursor: pointer;
}

.login {
  display: block;
  padding: 2rem;
}

.global-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--padding);
}

.global-controls .buttons .icon-button {
  margin-left: var(--padding);
}

.filter {
  display: flex;
  align-items: center;
  font-size: 0.6rem;
}

.filter input {
  margin-right: 0.4rem;
}