.colors {
  display: flex;
  height: 0.5rem;
  width: 100%;
}

.red {
  width: var(--redLen);
}

.orange {
  width: var(--orangeLen);
}

.blue {
  width: var(--blueLen);
}

.green {
  width: var(--greenLen);
}