.colors {
  display: flex;
  height: 0.5rem;
  width: 100%;
}

.red {
  width: var(--redLen);
  background-color: var(--red);
}

.yellow {
  width: var(--yellowLen);
  background-color: var(--yellow);
}

.blue {
  width: var(--blueLen);
  background-color: var(--blue);
}

.green {
  width: var(--greenLen);
  background-color: var(--green);
}
