.detail {
    border: 6px solid var(--border-color);
}

.detail__disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.detail__header {
    display: flex;
    align-items: center;
    padding: var(--padding);
    flex-wrap: wrap;
}

.detail__headerText {
    flex: 1 0 0;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

.detail .detail__header h1 {
    margin: 0 0 0.25rem 0;
    padding: 0;
}

.detail__limsumdate {
    padding: var(--padding);
    border-bottom: 4px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail__title {
    display: block;
    font-size: 0.8rem;
}

.detail__buttons {
    flex: 0 0 auto;
}

.detail__buttons .icon-button {
    margin-left: var(--padding);
}

.detail_info {
    padding: var(--padding);
}

.detail_info p {
    margin: var(--padding) 0;
}

.detail_info .pills {
    margin: -0.25rem;
    padding: 0;
}

.detail_info .pills li {
    display: inline-block;
    margin: 0.25rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--border-color);
}