.goals__grid {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  grid-auto-rows: 60px;
  margin-bottom: 1rem;
}

.detail {
  --height: 7;
  grid-area: 1 / 1 / var(--height) / 5;
  overflow-y: auto;
}

@media (max-width: calc(7rem * 4)) {
  .detail {
    grid-area: 1 / 1 / var(--height) / -1;
  }
}