.goal {
  padding: var(--padding);
  color: black;
  text-decoration: none;
  cursor: pointer;
}

h3,
p {
  margin: 0.2rem;
  opacity: 0.9;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.value-input {
  width: 2rem;
  margin-right: 0.25rem;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
