.goal {
  color: black;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--goal-color);
  padding: 0.5rem 0.7rem;
  display: flex;
  flex-wrap: wrap;
}

.goal.later {
  opacity: 0.4;
}

.title {
  display: block;
  padding-bottom: calc(var(--padding) / 2);
  flex: 0 0 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slug {
  font-weight: bold;

  flex: 1 0 1px;
  padding-right: var(--padding);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.controls {
  flex: 0 0 auto;
}

.countdown {
  flex: 1 0 1px;
  color: hsla(0, 0%, 0%, 0.7);
}

.stakes {
  flex: 0 0 auto;
  padding-left: var(--padding);
  color: hsla(0, 0%, 0%, 0.7);
}