body {
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.buffer-0 {
  background: rgb(255, 214, 214);
}

.buffer-1 {
  background: rgb(255, 236, 199);
}

.buffer-2 {
  background: rgb(237, 237, 255);
}

.buffer-3 {
  background: rgb(236, 255, 236);
}

table {
  width: 100%;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.2;
  font-size: 1.1rem;
}

.icon-button.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  background-color: white;
  padding: 1rem;
  position: fixed;
  top: 0;
  right: 0;
}

h1 {
  padding-left: 1rem;
}

.footer {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  cursor: pointer;
}

.login {
  display: block;
  padding: 2rem;
}

.filter {
  margin: 1rem;
}
