.buffer-0 {
    background: rgb(255, 214, 214);
}

.buffer-1 {
    background: rgb(255, 236, 199);
}

.buffer-2 {
    background: rgb(237, 237, 255);
}

.buffer-3 {
    background: rgb(236, 255, 236);
}

table {
    width: 100%;
}

body {
    padding: 0 2rem 2rem 2rem;
}